@media screen and (max-width: 840px) {

.page-header .container {
  flex-direction: column;
}

.menu__list {
display: flex;
flex-direction: column;
}

.menu__list .menu__item {
  background-color: blue;
}

.menu__list .menu__link {
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
}
